gcc.exe.core
queTest.o
queTestRunner.c
queTestRunner.exe
rpnTest.o
rpnTestRunner.c
rpnTestRunner.exe
sp.c
sp.exe
sp.exe.core
sp.o
spike.o
spike.c
spike.exe
spike.exe.core
queTestRunner.exe
strcat.c
strcat.exe
strcat.exe.core